.footer {
  background: #3db9d1;
  padding: 50px 50px 20px 50px;

  .footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .footer-top-column {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .footer-top-title {
        color: #313133;
      }

      .footer-top-link {
        text-decoration: none;
        color: #424242;
      }

      .footer-app-icon {
        width: 200px;
      }
    }
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-top: 1px solid #313133;
    padding-top: 10px;

    .copyright {
      color: #424242;
    }

    .footer-social {
      display: flex;
      gap: 15px;

      .social-link {
        text-decoration: none;
        color: #313133;

        .footer-icon {
          font-size: 25px !important;
          width: 25px;
        }
      }
    }
  }

  .footer-payment {
    .footer-payment-img {
      width: 400px;
    }
  }
}
