.banner {
  border-radius: 20px;
  margin: 30px 50px;
  padding: 20px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);

  .banner-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;

    .banner-side-nav {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .banner-side-item {
        display: flex;
        gap: 10px;
        align-items: center;
        text-decoration: none;
        color: #313133;
        font-size: 15px;

        .icon {
          width: 20px;
        }
      }
    }

    .banner-section-item {
      height: 350px;
      width: 300px;
      border-radius: 15px;
      position: relative;

      .banner-section-trending {
        background: #3db9d1;
        border-radius: 20px;
      }

      .banner-section-item-label {
        position: absolute;
        top: 20px;
        right: 190px;
        background: #f8f7f9a8;
        color: #313133;
        text-decoration: none;
        padding: 5px 15px;
        border-radius: 20px;
        font-weight: 500;
      }

      .banner-section-btn {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;

        .banner-btn {
          border: none;
          background: #e66730;
          padding: 10px;
          border-radius: 20px;

          .banner-btn-link {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            gap: 10px;
          }
        }

        .banner-btn2 {
          border: none;
          background: #fff;
          border: 2px solid #e66730;
          border-radius: 20px;
          padding: 10px;

          .banner-btn-link2 {
            text-decoration: none;
            color: #313133;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }

      .banner-item-img {
        background: #3db9d1;
        border-radius: 20px;

        .banner-item-img-link {
          text-decoration: none;
          color: #313133;
          position: relative;

          .banner-section-img {
            width: 200px;
            height: 200px;
            transform: scaleX(-1);
          }

          .banner-view-all {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: -50px;
            left: 200px;
            width: 100px;
            font-size: 15px;
            font-weight: 500;

            .banner-viewo-all-icon {
              background: #313133;
              color: #3db9d1;
              border-radius: 50%;
              padding: 5px;
              font-size: 10px;
              font-weight: 500;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}

.banner-section-img {
  width: 100px;
  border-radius: 15px;
  height: 350px;
  width: 300px;
  object-fit: cover;
}
