.navbar {
  height: 120px;

  .navbar-wrapper {
    .navbar-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 50px;

      .navbar-top-left {
      }
      .navbar-top-center {
        border: 2px solid #e66730;
        border-radius: 30px;
        display: flex;
        height: 40px;

        .navbar-top-center-drop {
          display: flex;
          align-items: center;
          background: #f8f7f9;
          padding: 0 10px 0 12px;
          border-radius: 30px 0 0 30px;
          color: #424242;
          cursor: pointer;
          //   border-radius: 20px;
        }

        .nav-search {
          width: 300px;
          height: 40px;
          border: none;
          padding-left: 20px;
          background: none;
        }

        .nav-search:focus {
          outline: none;
          color: #8a8a8a;
          font-size: 15px;
        }

        .nav-search::placeholder {
          font-size: 15px;
        }

        .nav-search-submit {
          border: none;
          font-size: 15px;
          background: #e66730;
          color: #fff;
          cursor: pointer;
          font-weight: 500;
          padding: 11px 15px;
          border-radius: 0 30px 30px 0;
        }

        .nav-search-submit:focus {
          outline: 2px solid #005268;
          transition: all 100ms ease;
        }
      }

      .navbar-top-right {
        display: flex;
        gap: 25px;

        .navbar-top-right-item {
          font-weight: 400;
          display: flex;
          align-items: center;
          color: #424242;
          position: relative;
          gap: 3px;
          cursor: pointer;

          .nav-cart-count {
            font-size: 12px;
            background: #005268;
            color: #fff;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: -20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .navbar-bottom {
      height: 40px;
      padding: 0 50px;
      background: #005268;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbar-bottom-left {
        display: flex;
        align-items: center;
        color: #c2c2c2;
        gap: 10px;

        .navbar-bottom-link-group {
          display: flex;
          gap: 30px;

          .navbar-bottom-left-item {
            color: #fff;
            text-decoration: none;
            font-weight: 500;
          }
        }
      }
      .navbar-bottom-right {
        display: flex;
        gap: 20px;

        .navbar-bottom-right-item {
          display: flex;
          align-items: center;
          color: #fff;
          font-weight: 500;
          cursor: pointer;

          .nig {
            width: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
