.navbar {
  height: 100px;
  width: 100vw;

  .nav-wrapper {
    .top-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 7px 30px;

      .topnav-left {
        .logo {
          width: 200px;
        }
      }

      .topnav-center {
        form {
          display: flex;

          .form-wrapper {
            border: 1.5px solid grey;
            border-radius: 5px;
            padding: 4px 5px;
            display: flex;
            align-items: center;

            .searchLink {
              text-decoration: none;
              color: grey;
              margin-right: 5px;
              font-size: 2px !important;
            }
            .search {
              border: none;
              width: 300px;
              background: none;
            }
            .search:focus {
              outline: none;
              background: none;
              color: #777;
            }
            .search::placeholder {
              font-size: 15px;
            }
          }

          .search-btn {
            border: none;
            border-radius: 5px;
            margin-left: 5px;
            padding: 10px;
            background: #e61601;
            color: #fff;
            font-weight: 400;
            font-size: 15px;
            text-transform: uppercase;
            cursor: pointer;
          }
          .search-btn:focus {
            outline: 2px solid #f68b1e;
            // outline-offset: 1px;
          }
        }
      }

      .topnav-right {
        display: flex;
        align-items: center;
        gap: 15px;

        .lang {
          display: flex;
          align-items: center;

          .en {
            width: 20px;
          }
        }

        .topnav-right-icons {
          color: #777;
          cursor: pointer;
        }

        .topnav-right-favorite,
        .topnav-right-cart {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #e61601;
            color: #fff;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .topnav-right-account {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #777;
          gap: 3px;
        }
      }
    }

    .bottom-nav {
      background-color: #e61601;
      display: flex;
      gap: 30px;
      padding: 10px 30px;
      // height: 50px;

      .bottom-nav-link {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
      }
    }
  }
}
